body {
    background-color: #303030;
}

#createNewBudgetModal .modal-dialog {
    width: 400px;    
}

.modal-header, .modal-footer {
    border: none;
    background-color: #7BBEFF;
    font-family: 'Arvo', serif;
}

.brand {
    font-size: 70px;
    color: #FF5E19;
    font-family: 'Arvo', serif;
    font-weight: 700;
    font-style: italic;
}

.navbar-nav li a {
    line-height: 80px;
}

.navbar-custom {
    background-color:#212121;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;

}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #212121;
    color: #7BBEFF;
}

.modal-content  {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px; 
}


/* Colors 
Oranges
FF5E19
FF4C00
FF8A58
D94100

Blues
7BBEFF
138BFF
AAD5FF

Greys

*/